<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/nav.ejs') %>
    <main>
      <h1><%= pageTitle %></h1>
      <p><%= message %></p>

      <% if (stack) { %>
      <pre><%= stack %></pre>
      <% } %>
<%- include('../includes/end.ejs') %>
