<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/nav.ejs') %>
    <main>
      <h1 class="centered">Your Orders</h1>
      <% if (orders.length <= 0) { %>
        <p class="centered">No orders yet!</p>
      <% } else { %>
        <% orders.forEach(({ _id, items, totalPrice }) => { %>
          <div class="card">
            <div class="card__content">
              <h2>OrderID: <%= _id %></h2>
              <ul>
                <% items.forEach(({ title, quantity }) => { %>
                  <li>
                    <span><%= title %> (<%= quantity %>)</span>
                  </li>
                <% }) %>
              </ul>
              <h3>Total: $<%= totalPrice %></h3>
            </div>
          </div>
          <br />
        <% }) %>
      <% } %>
<%- include('../includes/end.ejs') %>
