<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/nav.ejs') %>
    <main class="text-centered">
      <h1><%= product.title %></h1>
      <hr />
      <div>
        <img src="<%= product.imgURL %>" alt="<%= product.title %>" />
      </div>
      <h2>$<%= product.price %></h2>
      <p><%= product.description %></p>

      <% if (loggedIn) { %>
        <%- include('../includes/add-to-cart.ejs') %>
      <% } %>
      <a class="btn" href="/">Go Back</a>
<%- include('../includes/end.ejs') %>
